/* css styles jason */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  body {
    padding: 0;
    margin: 0;
    font-family: 'Inter',sans-serif;

}

  h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}
a {
    color: #418ADE;
    text-decoration: none;
}

.title {
    color: #418ADE;
}


header {
    padding-top: 22px;
    padding-bottom: 22px;
    background-color: #418ADE;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
}
header .container {
    display: flex;
    align-items: center;
}

.logo img {
    height: 89px;
}
.menu-nav {
    flex: 1;
}
.menu-nav ul {
    display: flex;
    gap: 30px;
}

.menu-nav ul li {
    list-style: none;
}
.menu-nav ul li a {
    color: #FFF;
font-family: "Inter", sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
}
.menu-nav ul li a:hover{
    color: rgb(196, 196, 196);
}
.home-nav{
    position: relative;
    padding-left: 30px;
}
.home-nav::before{
    content: url('images/home-icon.svg');
    position: absolute;
    top: -1px;
    left: 4px;
}

.account-head {
    background-color: #fff;
    border-radius: 30px;
    width: 203px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.account-head::before {
    content: url('images/user.png');
    position: absolute;
    top: 3px;
    left: 4px;
}

.account-head::after {
    content: url('images/arrow-down.svg');
    position: absolute;
    top: 14px;
    right: 20px;
}

.account-head span {
    font-family: Inter;
    font-size: 20px;
    color: #333;
}

.page-wrap {
    width: 100%;
    background:url('images/home-bg.jpg') no-repeat center top / cover;
    padding: 40px 30px;
}

.banner {
    padding: 50px 0;
}
.banner .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-box h1 {
    color: #FFF;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 20px;
}
.title-box span {
    font-family: Inter;
    font-size: 20px;
    color: #fff;
}

.search-box {
    padding: 0;
    position: relative;
}
.search-box::before {
    content: url('images/search-icon.svg');
    position: absolute;
    top: 10px;
    left: 9px;
}
.search-box::after {
    content: url('images/arrow-down.svg');
    position: absolute;
    top: 22px;
    right: 20px;
}
.search-box input {
    font-family: Inter;
font-size: 20px;
font-weight: 400;
    width: 530px;
    height: 66px;
    border-radius: 10px;
    padding-left: 70px;
    padding-right: 50px;
    border: 0;
}
.search-box input::placeholder {
color: #418ADE;
}

.books-section {
    padding-bottom: 50px;
}
.books-section .container {
    max-width: 1600px;
}
.books-row {
    overflow: auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    display: flex;
}
.books-row::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
.book-box {
    width: 350px;
    height: 400px;
    padding: 5px;
    background-color: #fff;
    display: inline-block;
    margin: 0 10px 30px;
}
.book-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/*About Author page styles*/

.page-wrap-content{
    background-color: #F3F3F7;
    padding: 40px ;
    border-radius: 10px;
    min-height: 700px;
    position: relative;
}
.page-row{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

}
.page-box1{
    padding: 25px 32px;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    max-width: 273px;
    background-color: #FFF;
}
.page-box1 .box-img{
    display: block;
    width: 100%;
}
.page-box1 .box-img img{
    width: 100%;
    height: 100%;
    
}
.page-box1 .box-btn ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0;
}
.page-box1 .box-btn ul li{
    list-style: none;
    
}
.page-box1 .box-btn ul li a{
    color: #333;
    font-size: 11px;
    text-decoration: none;
    padding-top: 30px;
    display: block;
    position: relative;
}
.page-box1 .box-btn ul li a::before {
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    left: 0;
    top:0;
}
.page-box1 .box-btn ul li:first-child a::before {
    background: url('images/icon/review-icon.png') no-repeat center top / contain;
}
.page-box1 .box-btn ul li:nth-child(2) a::before {
    background: url('images/icon/notes-icon.png') no-repeat center top / contain;
}
.page-box1 .box-btn ul li:last-child a::before {
    background: url('images/icon/share-icon.png') no-repeat center top / contain;
}
.page-box2{
    flex: 1;
    padding-left: 70px;
}
.page-box2 h3{
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: 400;
    font-family: 'Inter';
}
.page-box2 .ratings {
    padding-bottom: 30px;
}
.page-box2 .ratings ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding: 0;
}
.page-box2 .ratings ul li{
    list-style: none;
font-size: 14px;
color: #333;
padding-left: 0px;
position: relative;
}
.page-box2 .ratings ul li:first-child {
    padding-left: 85px;
}
.page-box2 .ratings ul li:first-child:before {
    content: url('images/icon/star-icon.png');
    position: absolute;
    left: 0;
    top:0;
}
.page-box2 .availability{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    padding-bottom: 30px;
}
.page-box2 .availability h5{
    font-size: 14px;
}
.page-box2 .availability ul li{
    font-size: 15px;
    position: relative;
    list-style: none;
    padding-left: 20px;
    margin-bottom: 5px;
}
.page-box2 .availability ul li::before {
    content: "";
    width: 15px;
    height: 15px;
    background: url(images/icon/check-circle.svg) no-repeat center top / contain;
    position: absolute;
    left: 0;
    top:2px;
}
.page-box2 .availability .avail-btn a{
    background: #418ADE;
    padding: 8px 15px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
.page-box2 .borrow-box ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding: 0;
}
.page-box2 .borrow-box ul li{
    list-style: none;
    display: inline-block;
}
    /* .page-box2 .borrow-box ul li:last-child a {
        padding-right: 50px !important;
    } */
.page-box2 .borrow-box ul li a{
    font-size: 20px;
    font-weight: 600;
    color: #FFF;
    padding: 13px 30px; 
    border-radius: 10px; 
    display: block;
    background-color: #418ADE;
    text-decoration: none;
}
.read-now {
    position: relative;
}
/* .read-now::after {
    content: url('images/icon/headphones.png');
    position: absolute;
    right: 12px;
    top: 12px;
} */
.page-box3{
    width: 445px;
    padding-left: 50px;
}
.page-box3 p {
    font-size: 13px;
    line-height: 24px;
}
.other-books h6{
    font-size: 15px;
    font: bold;
    margin: 0;
    margin-bottom: 15px;
}
.other-books img{
    max-width: 75px;
}
.page-box3 h5{
    font-size: 20px;
    margin-bottom: 20px;
}
.page-box3 h5 small {
    font-size: 13px;
    font-size: 20px;
}
.page-box3 {
    font-size: 20px;
    margin-bottom: 16px;
    display: block;
    color: #333;
}
.page-box3 h5 small{
    color: #418ADE !important;
}

.tab-menu ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #ccc;
}
.tab-menu ul li {
    list-style: none;
    width: 100%;
}
.tab-menu ul li a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    display: block;
    padding: 15px 30px;
}

.publish-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding-bottom: 40px;
}
.pub-box {
    flex: 0 0 20%;
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px 30px;
    border-radius: 5px;
}
.pub-box h4 {
    font-size: 10px;
    color: #333;
    font-weight: 400;
}
.pub-box span {
    font-size: 12px;
    color: #333;
    font-weight: 600;
}
.pub-box a {
    font-size: 12px;
    color: #418ADE;
    text-decoration: none;
    font-weight: 600;
}
.preview h4 {
    font-size: 12px;
    color: #333;
    margin-bottom: 40px;
}
.preview h4 a {
    color: #418ADE;
    font-weight: 600;
    text-decoration: nne;
}

.bottom2-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

.community-box {
    flex: 0 0 46%;
    max-width: 46%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px 40px 30px;
}
.com-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.com-row .feed {
    text-decoration: underline;
    font-weight: 600;
}
.community-box h3 {
    font-size: 22px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}
.community-box ul {
    padding: 0;
    margin: 0 0 20px;
}
.community-box ul li {
    list-style: none;
    font-size: 11px;
    font-weight: 500;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.community-box ul li h5 {
    font-size: 11px;
    margin-right: 25px;
}
.community-box ul li .cat {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-weight: 600;
    padding: 5px 12px;
    text-transform: capitalize;
    margin-right: 5px;
}
.community-box .add-com {
    font-size: 14px;
    color: #333;
    text-decoration: underline;
    font-weight: 600;
}
.book-details {
    flex: 0 0 46%;
    max-width: 46%;
    border: 1px solid #ccc;
    padding: 30px 40px;
    display: block;
    border-radius: 5px;
}

.book-details h3 {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}
.book-details ul {
    padding: 0;
    margin:0 0 20px;
}
.book-details ul li {
    font-size: 12px;
    font-weight: 400;
    color: #333;
    list-style: none;
} 
.book-details ul li span {
    font-weight: 600;
    display: inline-block;
    width: 100px;
    line-height: 24px;
}


/* pop-up styles -------------[*/

.popup-section {
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
}
.popup-section .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.popup-box {
    background-color: #fff;
    width: 500px;
    border-radius: 5px;
    padding: 40px 50px;
}
.popup-box h3 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}
.popup-box .from h4 {
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-bottom: 20px;
}
.from-date,.to-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 310px;
}
.from-date select,.to-date select {
    height: 50px;
    width: 90px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    background-color: #eee;
    border: 0;
    border-radius: 5px;
    padding: 15px 15px;
}
.from {
    margin-bottom: 30px;
}
.to h4 {
    margin-bottom: 20px;
}
.pop-book {
    padding-top: 40px;
    text-align: left;
}
.pop-book h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
    text-align: left;
}
.pop-book input {
    height: 49px;
    width: 100%;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.pop-book input::placeholder {
    font-family: "Inter",sans-serif;
    font-size: 14px;
    color: #ccc;
}
.pop-book textarea {
    width: 100%;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    min-height: 110px;
}
.pop-book textarea::placeholder {
    font-family: "Inter",sans-serif;
    font-size: 14px;
    color: #ccc;
}
.submit {
    background-color: #418ADE;
    padding: 10px 40px;
    border-radius: 8px;
    border: 0;
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;

}
.complete-box  {
    text-align: center;
}
.pop-check {
    margin-bottom:40px;
}
.complete-box .submit {
    font-size: 16px;
    background-color: #418ADE;
    padding: 10px 40px;
    border-radius: 8px;
    border: 0;
    display: inline-block;
}
/* pop-up styles */

.page-wrap.borrowed-books .container{
    max-width: 100%;
}


.borrowed-wrap {
    padding-top: 70px;
    position: relative;
}
.borrowed-wrap h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
}
.borrowed-row {
    padding: 0 40px;
}
.back-results-box{
    padding-left: 40px;
    padding-top: 40px;
    position: relative;
    padding-bottom: 40px;
}

.back-results {
    font-size: 15px;
    color: #333;
    position: absolute;
    left: 0;
    top:0;
    padding-left: 20px;
}
.back-results::before{
    content: url('images/icon/arrow-back-icon.png');
    position: absolute;
    left: 0;
    top: 2px;

}
.cat-menu {
    padding: 0 10px;
}
.cat-menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0 0 20px;
}
.cat-menu ul li {
    list-style: none;
}
.cat-menu ul li.active a {
    color: #418ADE;   
}
.cat-menu ul li a{
    font-size: 25px;
    font-weight: 500;
    color: #333;
}
.cat-menu ul li a:hover {
    color: #418ADE;
}


.borrowed-cntr {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.borrowed-box {
    flex: 0 0 19%;
    max-width: 19%;
   min-height: 260px;
   border-radius: 10px;
   background: #FFF;
   box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
   display: flex;
   flex-wrap: wrap;
   padding: 15px 15px;
   position: relative;
}
.borrowed-box::after {
    content: "";
    width: 40px;
    height: 40px;
    background: url('images/icon/fav-btn.png') no-repeat center top / contain;
    position: absolute;
    top: 2px;
    right: 7px;
    cursor: pointer;
}
.borrowed-box.fav::after {
    background: url('images/icon/fav-btn-active.png') no-repeat center top / contain;
}
.box1 {
    width: 123px;
    height: auto;
}
.box-img {
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 10px;
}
.box-img img {
    height: 170px;
    display: block;
    width: 100%;
}
.box-info .bor-title {
    font-size: 12px;
    font-weight: 400;
}
.box-info span {
    font-size: 10px;
    display: block;
    line-height: 24px;
}
.box-info small {
    font-size: 10px;
    display: block;
}
.box2 {
    padding-left: 25px;
    padding-top: 20px;
    position: relative;
}

.box2 h3 {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}
.box2 p {
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 25px;
}
.box2 .return {
    border: 1px solid #418ADE;
    font-size: 15px;
    color: #418ADE;
    font-weight: bold;
    text-align: center;
    width: 125px;
    border-radius: 10px;
    background-color: #fff;
    display: inline-block;
    padding: 10px 15px;
    margin-top: 0px;
    transition: all 0.3s ease-in-out;
}
.box2 .return:hover {
    background-color: #418ADE;
    color: #fff;
}